
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <div class="header-image">
    <ion-img src="assets/images/historia.jpg" alt="historia da cidade" ></ion-img>
    <div class="header-text">
      <h1>A HISTÓRIA DE LISBOA</h1>
      <h2> Aqui encontrarás um um espaço que apresenta informações sobre a cidade, desde a sua fundação até os dias atuais, destacando aspectos culturais, históricos e artísticos.</h2>
    </div>
  </div>
    

    <ion-card-content>
      <p>Lisboa é a capital de Portugal e uma das cidades mais antigas da Europa. Sua história remonta à época dos romanos, quando era conhecida como Olissipo. Durante a Idade Média, Lisboa foi conquistada pelos mouros e depois recuperada pelos cristãos em 1147, durante a Reconquista.</p>
      <p>Em seguida, a cidade cresceu rapidamente e se tornou um importante centro comercial e portuário, estabelecendo relações comerciais com o resto da Europa, África e América. Durante o século XV, Lisboa se tornou a capital do império português e a cidade mais importante do mundo em termos de comércio marítimo.</p>
      <p>A cidade foi destruída pelo terremoto de 1755, mas foi reconstruída no estilo pombalino, tornando-se um exemplo de planejamento urbano na Europa. Desde então, Lisboa continuou a ser um importante centro cultural e econômico, atraindo turistas de todo o mundo para conhecer suas belas paisagens, arquitetura e história.</p>
    </ion-card-content>
  
</ion-content>

