<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>

  <div class="header-image">
    <ion-img src="assets/images/gastronomia.jpg" alt="gastronomia"></ion-img>
    <div class="header-text">
      <h1>GASTRONOMIA</h1>
      <h2>Descubra os sabores de Lisboa com nossa seleção de restaurantes locais e pratos típicos.</h2>
    </div>
  </div>

  <ion-list>
    <ion-item *ngFor="let recipe of recipes">
      <ion-thumbnail slot="start">
        <img [src]="recipe.image" alt="receita">
      </ion-thumbnail>
      <ion-label> 
        <h3>
          <ion-icon slot="start" name="book-outline"></ion-icon>
          {{ recipe.title }}
        </h3>
        <ion-button expand="block" (click)="openModal(recipe)" class="saberMais">
          <ion-icon  slot="start" name="help-circle-outline"></ion-icon>
          Saber Mais
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
