<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  
  <div class="header-image">
    <ion-img src="assets/images/alojamento.jpg"></ion-img>
    <div class="header-text">
      <h1>ALOJAMENTO LOCAL</h1>
      <h2>Encontre o lugar perfeito para descansar durante sua estadia em Lisboa, de hotéis a hostels e muito mais.</h2>
    </div>
  </div>

  <ion-card>
    <img src="assets/images/pestana.jpg" alt="Pestana Palace Lisboa">
    <ion-card-header>
      <ion-card-title>Pestana Palace Lisboa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Situado no coração de Lisboa, o Pestana Palace é um luxuoso hotel de 5 estrelas que oferece uma experiência única de hospedagem em um antigo palácio restaurado do século XIX. Com vistas deslumbrantes sobre o Rio Tejo, este hotel possui quartos elegantemente decorados, um restaurante gourmet, um spa de luxo e muito mais.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/images/JupiterHotel.webp" alt="Jupiter Lisboa Hotel">
    <ion-card-header>
      <ion-card-title>Jupiter Lisboa Hotel</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Localizado na zona empresarial de Lisboa, o Jupiter Lisboa Hotel é uma ótima opção para quem busca conforto e conveniência. Com quartos espaçosos e modernos, uma piscina exterior, um bar no último piso com vistas panorâmicas e muito mais, este hotel é perfeito para quem quer desfrutar da cidade de Lisboa sem abrir mão do conforto.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/images/LisboaPessoaHotel.jpg" alt="Lisboa Pessoa Hotel">
    <ion-card-header>
      <ion-card-title>Lisboa Pessoa Hotel</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Localizado no coração de Lisboa, o Lisboa Pessoa Hotel é um boutique hotel que oferece uma experiência única de hospedagem. Com quartos decorados individualmente e inspirados nas personalidades da cidade, este hotel possui um restaurante premiado, um bar elegante e uma vista deslumbrante da cidade a partir do terraço.
    </ion-card-content>
  </ion-card>

</ion-content>


